<head>
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
</head>


<ion-header>
  <ion-toolbar>
    <ion-title>EndPage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>


<ul>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>


  <div class="instructions" >
    Click on "Stop" to stop your session 
  </div>



<div class="EndTimeButtonContainer">
	<ion-button id="EndTimeButton" (click) = "dismiss()" size="large" shape="round" > Stop </ion-button>
</div>


<!--  {{acceleration}}
 --> 

<!-- 
 <ul>
  <li *ngFor="let a of allAccleration">
    {{a}}
  </li>
 </ul> -->
</ion-content>
